.sign-in {
  width: 30vw;
  margin: 0 auto;

  height: 90vh;
  & form {
    position: relative;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;

    & p {
      margin: 0;
      font-size: 1rem;
      color: #696868;
    }

    .icon {
      position: absolute;
      
    }

    & button {
      //   display: flex;
      margin-top: 2rem;
      padding: 0.5rem 1rem;
      background-color: rgb(10, 169, 243);
      border-radius: 5px;
      width: 5rem;
      &:hover {
        background-color: rgb(22, 238, 155);
      }
    }
  }
}
